#logo{
	padding: 0 15%;
	background-size: cover;
}
section{
	background: #DFDFDF;
}
.barra{
	position: fixed;
	left: 0;
	top: 300px;
	z-index: 3000;
}
.barra ul{
	list-style:none;
}
#ul a{	
	display: block;
}
.barra #ul li a i:hover{
	font-size: 45px;
}
#fab{

	font-size: 24px;
	color: white;
	background-color:  #4f5ee0;
	padding: 15px 20px;
	border-radius: 100%;
	margin: 5px;
}
#twi{
	font-size: 30px;
	background-color: #3394d4;
	color: white;
	padding: 12px;
	border-radius: 100%;
	margin: 5px;
}
#goo{
	font-size: 20px;
	background-color: #dd363b;
	color: white;
	padding: 18px 16px;
	border-radius: 100%;
	margin: 5px;
}
#pin{
	font-size: 30px;
	background-color:  #d7171d;
	color: white;
	padding: 12px 15px;
	border-radius: 100%;
	margin: 5px;
}
#gma{
	font-size: 30px;
	background-color:#c4c4c7 ;
	color: #d7171d;
	padding: 15px;
	border-radius: 100%;
	margin: 5px;
}
.container{
	margin: 0 auto;
	padding: 0;
	width: 90%;
	max-width: 1000px;
	min-width: 780px;
	
}
strong{
	font-size: 20px;
}
h1{
	font-size: 50px;
}
h1 a{
	font-size: 20px;
}
fieldset{
	border: 2px solid red;
	margin-left: 10%;	
}
legend{
	color: red;
}
ul li{
	list-style: none;
}
.ul{
	margin-left: 6%;
}
p{
	color: #771010;
}
form fieldset ul li input{
	width: 200px;
	height: 30px;
}
#btn{
	width: 100px;
	height: 40px;
	background: #F51277;
	color: white;
	padding: 5px 10px;
}
#btn:hover{
	width: 150px;
	height: 70px;
	background-color: #6CE4EF;
	color: #317DAD;
	transition-duration: 1000ms;
    transition-timing-function: ease-out;
}
footer{
	background: black;
	color: white;
	padding: 8%;
	border-top: 5px solid #F51277;
}


